html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    padding-left: 3.5vw;
    padding-right: 3.5vw;
}

::selection {
    background-color: black;
    color: white;
  }

.navbar {
    width: auto;
    height: 65px;
    display: flex;
    flex-direction: row;
    margin-bottom: 17.5vw;
}

p {
    line-height: 1.4;
}

.nav_img {
    display: inline-block;
    width: 50px;
    height: auto;
    object-fit: contain;
    position: relative;
    top: 40%;
}

.nav_links {
    align-self: flex-end;
}

.line {
    border-bottom: 3px inset black;
    width: auto;
    flex-grow: 1;
    margin-right: 25px;
    margin-left: 25px;
}

.nav_li {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 1.2rem;
    margin-right: 25px;
}

.nav_li:nth-of-type(3) {
    margin-right: 0px;
}

h1 {
    font-size: 6.5vw;
    font-weight: 700;
}

.herotext {
    margin-bottom: 5vw;
}

.lander_img {
    width: 100%;
    height: auto;
    margin-bottom: 3.5vw;
}

.main-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: none;
}

.grid_img {
    object-fit: cover;
    margin-right: 3.5vw;
    margin-bottom: 3.5vw;
    max-width: 44.75vw;
    min-height: 44.75vw;
}

.grid_img:nth-of-type(2n) {
    margin-right: 0vw;
}

footer {
    border: 3px solid black;
    padding: 1em;
    text-align: center;
    font-weight: 500;
    margin-bottom: 3.5vw;
}


/*Tablets*/
@media (max-width: 768px) {


.lander_img {
    max-width: 93vw;
    min-height: 93vw;
    object-fit: cover;
    margin-bottom: 3.5vw;
}

.grid_img {
    object-fit: cover;
    margin-bottom: 3.5vw;
    max-width: 93vw;
    min-height: 93vw;
}
    
}